Servis/Desktop/Service References/Service/MassServis1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mass.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mass.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="lieferant">
    <xs:sequence>
      <xs:element minOccurs="0" name="BIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BLZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IBAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KtoNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="anrede" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="bank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankeinzug" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="branche" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="handy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idLief" type="xs:int" />
      <xs:element minOccurs="0" name="idUser" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="kontoinhaber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="land" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lieferantNr" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="notiz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rabat" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="skonto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="skype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stauer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="tel1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tel2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="umsatz" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="vorname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zahlbar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zahlweise" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lieferant" nillable="true" type="tns:lieferant" />
  <xs:complexType name="ArrayOflieferant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lieferant" nillable="true" type="tns:lieferant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflieferant" nillable="true" type="tns:ArrayOflieferant" />
  <xs:complexType name="ArrayOfmitarbeiter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mitarbeiter" nillable="true" type="tns:mitarbeiter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmitarbeiter" nillable="true" type="tns:ArrayOfmitarbeiter" />
  <xs:complexType name="mitarbeiter">
    <xs:sequence>
      <xs:element minOccurs="0" name="BIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BLZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IBAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KtoNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="anrede" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="anzahl_gehalter" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="bank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datum" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="folder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gehalt" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="handy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idMit" type="xs:int" />
      <xs:element minOccurs="0" name="idUser" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="kontoinhaber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="krankheit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mitarbeiterNr" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="notiz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="skype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="stundenlohn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="tel1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tel2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="urlaub_ist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="urlaub_soll" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vorname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wochen_std" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mitarbeiter" nillable="true" type="tns:mitarbeiter" />
  <xs:complexType name="kunden">
    <xs:sequence>
      <xs:element minOccurs="0" name="VKPreisgr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adresse2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="anredeans" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="anreden" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="anssprechepartner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="freifeld1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gruppe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idKunde" type="xs:int" />
      <xs:element minOccurs="0" name="internet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kundeNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kundenbewertung" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="kundetype" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="l_plz_ort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="land" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lieferadresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="notiz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="notiz_route" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rabat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rechnungsadresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="skonto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="skontotage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stadt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="steuer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="strasse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="suchbegriff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tel1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tel2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="titel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ufragssperre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vertreter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vorlage_am" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vorlage_anlass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vorname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zahl_beding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zahlbar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zahlungin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zahlweise" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="kunden" nillable="true" type="tns:kunden" />
  <xs:complexType name="ArrayOfuser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="user" nillable="true" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuser" nillable="true" type="tns:ArrayOfuser" />
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="slika" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startseit" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tbl_poruka_poslanes" nillable="true" type="tns:ArrayOftbl_poruka_poslane" />
      <xs:element minOccurs="0" name="tbl_poruka_poslanes1" nillable="true" type="tns:ArrayOftbl_poruka_poslane" />
      <xs:element minOccurs="0" name="tbl_poruka_primljenes" nillable="true" type="tns:ArrayOftbl_poruka_primljene" />
      <xs:element minOccurs="0" name="tbl_poruka_primljenes1" nillable="true" type="tns:ArrayOftbl_poruka_primljene" />
      <xs:element minOccurs="0" name="telefon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user" nillable="true" type="tns:user" />
  <xs:complexType name="ArrayOftbl_poruka_poslane">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_poruka_poslane" nillable="true" type="tns:tbl_poruka_poslane" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_poruka_poslane" nillable="true" type="tns:ArrayOftbl_poruka_poslane" />
  <xs:complexType name="tbl_poruka_poslane">
    <xs:sequence>
      <xs:element minOccurs="0" name="datum" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_poruka_poslane" type="xs:int" />
      <xs:element minOccurs="0" name="naslov" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="poslao" type="xs:int" />
      <xs:element minOccurs="0" name="predmet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primio" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:user" />
      <xs:element minOccurs="0" name="user1" nillable="true" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_poruka_poslane" nillable="true" type="tns:tbl_poruka_poslane" />
  <xs:complexType name="ArrayOftbl_poruka_primljene">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_poruka_primljene" nillable="true" type="tns:tbl_poruka_primljene" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_poruka_primljene" nillable="true" type="tns:ArrayOftbl_poruka_primljene" />
  <xs:complexType name="tbl_poruka_primljene">
    <xs:sequence>
      <xs:element minOccurs="0" name="datum" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_poruka_primljene" type="xs:int" />
      <xs:element minOccurs="0" name="naslov" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="poslao" type="xs:int" />
      <xs:element minOccurs="0" name="predmet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primio" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="procitano" type="xs:boolean" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:user" />
      <xs:element minOccurs="0" name="user1" nillable="true" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_poruka_primljene" nillable="true" type="tns:tbl_poruka_primljene" />
  <xs:complexType name="ArrayOfkunden">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="kunden" nillable="true" type="tns:kunden" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfkunden" nillable="true" type="tns:ArrayOfkunden" />
  <xs:complexType name="ArrayOfp_get_User_ViewResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="p_get_User_ViewResult" nillable="true" type="tns:p_get_User_ViewResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfp_get_User_ViewResult" nillable="true" type="tns:ArrayOfp_get_User_ViewResult" />
  <xs:complexType name="p_get_User_ViewResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="datum" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUser" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="slika" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startseit" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="telefon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="p_get_User_ViewResult" nillable="true" type="tns:p_get_User_ViewResult" />
  <xs:complexType name="ArrayOfbug">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="bug" nillable="true" type="tns:bug" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfbug" nillable="true" type="tns:ArrayOfbug" />
  <xs:complexType name="bug">
    <xs:sequence>
      <xs:element minOccurs="0" name="bug1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datum" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="user_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="bug" nillable="true" type="tns:bug" />
  <xs:complexType name="ArrayOfmaterijal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="materijal" nillable="true" type="tns:materijal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmaterijal" nillable="true" type="tns:ArrayOfmaterijal" />
  <xs:complexType name="materijal">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="materijal" nillable="true" type="tns:materijal" />
  <xs:complexType name="ArrayOfprodukt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="produkt" nillable="true" type="tns:produkt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfprodukt" nillable="true" type="tns:ArrayOfprodukt" />
  <xs:complexType name="produkt">
    <xs:sequence>
      <xs:element minOccurs="0" name="idprodukt" type="xs:int" />
      <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="produkt" nillable="true" type="tns:produkt" />
  <xs:complexType name="ArrayOfoberflache">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="oberflache" nillable="true" type="tns:oberflache" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfoberflache" nillable="true" type="tns:ArrayOfoberflache" />
  <xs:complexType name="oberflache">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="materijal" type="xs:int" />
      <xs:element minOccurs="0" name="pov" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="oberflache" nillable="true" type="tns:oberflache" />
  <xs:complexType name="ArrayOfstarke">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="starke" nillable="true" type="tns:starke" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstarke" nillable="true" type="tns:ArrayOfstarke" />
  <xs:complexType name="starke">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idprodukt" type="xs:int" />
      <xs:element minOccurs="0" name="starke1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="starke" nillable="true" type="tns:starke" />
  <xs:complexType name="ArrayOfmit_kalendar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mit_kalendar" nillable="true" type="tns:mit_kalendar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmit_kalendar" nillable="true" type="tns:ArrayOfmit_kalendar" />
  <xs:complexType name="mit_kalendar">
    <xs:sequence>
      <xs:element minOccurs="0" name="datum" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="datum1" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
      <xs:element minOccurs="0" name="notiz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="odobreno" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="pogledano" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tip" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mit_kalendar" nillable="true" type="tns:mit_kalendar" />
  <xs:complexType name="ArrayOfartikl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="artikl" nillable="true" type="tns:artikl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfartikl" nillable="true" type="tns:ArrayOfartikl" />
  <xs:complexType name="artikl">
    <xs:sequence>
      <xs:element minOccurs="0" name="aktivan" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="kratki_opis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="materijal" type="xs:int" />
      <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="podgrupa" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="sinonimi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="slika" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="svrha" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tehnicki_detalji" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vrsta" type="xs:int" />
      <xs:element minOccurs="0" name="zemlja_porijekla" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="artikl" nillable="true" type="tns:artikl" />
  <xs:complexType name="ArrayOfp_get_price_ViewResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="p_get_price_ViewResult" nillable="true" type="tns:p_get_price_ViewResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfp_get_price_ViewResult" nillable="true" type="tns:ArrayOfp_get_price_ViewResult" />
  <xs:complexType name="p_get_price_ViewResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="art" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="debljina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idArtikl" type="xs:int" />
      <xs:element minOccurs="0" name="idCijene" type="xs:int" />
      <xs:element minOccurs="0" name="iznos" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="mat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="materijal" type="xs:int" />
      <xs:element minOccurs="0" name="opis" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="p_get_price_ViewResult" nillable="true" type="tns:p_get_price_ViewResult" />
  <xs:complexType name="ArrayOfp_get_MitKalendar_ViewResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="p_get_MitKalendar_ViewResult" nillable="true" type="tns:p_get_MitKalendar_ViewResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfp_get_MitKalendar_ViewResult" nillable="true" type="tns:ArrayOfp_get_MitKalendar_ViewResult" />
  <xs:complexType name="p_get_MitKalendar_ViewResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="datum" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="datum1" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="odobreno" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="pogledano" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tip" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="p_get_MitKalendar_ViewResult" nillable="true" type="tns:p_get_MitKalendar_ViewResult" />
  <xs:complexType name="ArrayOfeinheit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="einheit" nillable="true" type="tns:einheit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfeinheit" nillable="true" type="tns:ArrayOfeinheit" />
  <xs:complexType name="einheit">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jedinica" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="einheit" nillable="true" type="tns:einheit" />
</xs:schema>